<!DOCTYPE html>

<html>
   <head>
    <!--General title information about the code. Also where the style sheets are enabled.-->
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp</h1>
    <hr />
    <div class="container">
      <h3>Timestamp Links:</h3>
      <ul>
        <h5>Click To See 2015-12-25 In Unix(milliseconds) and UTC format</h5>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <h5>Click to See the Current Date</h5>
        <li><a href="api/currDate">[project url]/api/currDate</a></li>
        <h5>Click to See the Current Time(Eastern Standard)</h5>
        <li><a href="api/currTime">[project url]/api/currTime</a></li>
        <h5>Click to See this Unix Number's Respective Date</h5>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
        <h5>Click to convert 500 milliseconds to its Respective Date</h5>
        <li><a href="api/500">[project url]/api/date_string</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>

      <h4>Type in Any Date and Click submit</h4>
      <form method="POST" action="/api/dateInput">
        <input id="input" type="text" name="date" placeholder="Please Submit any Date in this format: 2022-10-25"/>
        <input id="enter" type="submit" value="Submit"/>
      </form>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>
